<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Category</title>

    <%- include('../partials/head_backOffice')  %>
    <link rel="stylesheet" href="css/mainStyle.css">
</head>
<body>
    <%- include('../partials/navbar_backOffice')  %>
    <section id="container-fluid">
        <div class="row area1">
            <div class="col-lg-6 col-sm-12"><h1><%= article %></h1></div>
            <div class="col-lg-6 col-sm-12 btn-area"><a href="" class="btn"><%= button %></a></div>
        </div>
        <div class="row area2">
            <% categories.forEach((category) => { %>
                <div class="col-lg-6 col-sm-12">
                    <div class="category">
                        <div class="category-sec1">
                            <h3><%= category.name%></h3>
                            <div class="icon">
                                <a href="" class="edit-icon"><img src="image/edit_back-office.svg" alt="SVG Image" class="svg-image"></a>
                                <a href="" class="delete-icon"><img src="image/red-bin.svg" alt="red-bin"></a>
                            </div>
                        </div>
                        <div class="category-sec2"><p class="category-id"><%= category.id%></p></div>
                        <div class="category-sec3">
                            <div class="sub"><p>Sub</p></div>
                            <div><p>Total: <%= category.total%></p></div>
                        </div>
                        <div class="category-sec4">
                            <% category.sub.forEach((sub) => { %>
                                <a href="" class="sub-btn"><%= sub.name %></a>
                            <% }); %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>
    <%- include('../partials/navbarScript_backOffice')  %>
</body>
</html>

