<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Product</title>

    <%- include('../partials/head_backOffice')  %>
    
    <!--===== Boxicons CSS =====-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="css/selectMenu.css">
    <style>
        .twoButton {
            margin-top: 2vw;
            display: flex;
            justify-content: flex-end;
        }

        .twoButton .btn {
            padding: 1vw 3.5vw;
            text-decoration: none;
            font-size: 2vw;
            background-color: black;
            color: white;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2vw;
        }

        .sBtn-text {
            margin-left: 2vw;
        }

        @media (min-width: 768px) {
            .row.same-line .col-lg-6 {
                padding: 0;
                margin: 0;
            }

            .row.same-line .col-lg-6  p{
                margin-top: 0.8vw;
                margin-bottom: 0.5vw;
            }

            .twoButton {
                display: flex;
                height: 3.5vw;
            }

            .twoButton .btn {
                position: relative;
            }
        }

        @media only screen and (max-width: 767px) {
            .twoButton {
                margin-top: 3vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .select-menu {
                width: 100%;
            }

            .sBtn-text {
                margin-left: 4vw;
            }

            .select-menu .select-btn {
                width: 100%;
                height: 6vw;
                padding: 1vw;
                font-size: 4vw;
                font-weight: 500;
                border: solid 0.4vw grey;
                border-radius: 1vw;
                cursor: pointer;
                position: relative;
            }

            .categoryBtn {
                width: 100%;
            }

            .twoButton .btn {
                margin-top: 5vw;
                height: 7vw;
                font-size: 3.8vw;
                width: 100%;
                height: auto;
                margin-left: 0;
            }

            .product h3 {
                font-size: 5vw;
            }

            .product-img img {
                width: 30vw;
            }

            .product-sec2 {
                font-size: 2.8vw;
            }

            .row.same-line .col-lg-6  p{
                margin-bottom: 0.5vw;
            }

            .old-price, .soldItems p {
                font-size: 3.4vw;
            }

            .price, .price-promotion {
                font-size: 4vw;
            }
        }
    </style>
</head>
<body>
    <%- include('../partials/navbar_backOffice')  %>
    <section id="container-fluid">
        <div class="row area1">
            <div class="article"><h1><%= article %></h1></div>
            <div class="twoButton">
                <%- include('../partials/selectMenu_backOffice')  %>
                <div class="categoryBtn"><a href="" class="btn"><%= button %></a></div>
            </div>
        </div>
        <div class="row area2">
            <% products.forEach((product) => { %>
                <div class="col-lg-6 col-sm-12">
                    <div class="product">
                        <div class="product-sec1">
                            <div class="icon">
                                <div><a href="" class="delete-icon"><img src="image/red-bin.svg" alt="red-bin"></a></div>
                                <div><a href="" class="edit-icon"><img src="image/edit_back-office.svg" alt="SVG Image" class="svg-image"></a></div>
                            </div>
                        </div>
                        <div class="product-sec2">
                            <div class="product-img">
                                <img src="<%= product.image %>" alt="product-image">
                            </div>
                            <div class="product-data">
                                <h3><%= product.name %></h3>
                                <div class="row same-line">
                                    <div class="col-lg-6 col-sm-12"><p><b>ID of product:  </b><%= product.id %></p></div>
                                    <div class="col-lg-6 col-sm-12"><p><b>ID of category:  </b><%= product.cateId %></p></div>
                                </div>
                                <p><b>Description:  </b> <%= product.des %></p>
                            </div>
                        </div>
                        <div class="product-sec3">
                            <div class="price-section">
                                <% if (product.salesCount) { %>
                                    <div class="old-price"><p>$<%= product.price %></p></div>
                                    <div class="price-promotion"><p>$<%= product.pricePromotion %></p></div>
                                <% } else { %>
                                    <div class="price"><p>$<%= product.price %></p></div>
                                <% } %>
                            </div>
                            <div class="soldItems"><p><%= product.soldItems %> items sold</p></div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>
    <%- include('../partials/navbarScript_backOffice')  %>

    <script>
        const optionMenu = document.querySelector(".select-menu"),
                selectBtn = optionMenu.querySelector(".select-btn"),
                options = optionMenu.querySelectorAll(".option"),
                sBtn_text = optionMenu.querySelector(".sBtn-text");
    
        selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));
    
        options.forEach(option =>{
            option.addEventListener("click", ()=>{
                let selectedOption = option.querySelector(".option-text").innerText;
                sBtn_text.innerText = selectedOption;
                optionMenu.classList.remove("active");
            });
        });
    </script>
</body>
</html> 